<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website | Maintainence</title>
  </head>
  <body>
    <h1>Site under maintainence</h1>
    <p>We will be back in few hours</p>
  </body>
</html>
